<html ng-app="AudioVisualizerOptions" ng-csp>
<head>
    <title>Options - AudioVisualizer</title>
	<link rel="stylesheet" href="../lib/bootstrap.css">
	<link rel="stylesheet" href="../lib/bootstrap-theme.css">
	<link rel="stylesheet" href="style.css">
	<script src="../lib/angular.min.js"></script>
	<script src="../settings/setting.js"></script>
	<script src="../js/getScenes.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body ng-controller="storageController">

  <ul>

	<h1>AudioVisualizer - List of saved scenes</h1>
    <div class = "row">
		<div class="col-md-8"><label>Search: <input ng-model="searchText"></label></div>
    </div>

	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th><center>#</center></th>
					<th>Name</th>
					<th><center>Delete?</center></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="name in names | filter: searchText">
					<td class="label label-default">{{$index}}</td>
					<td >{{name |nmSvNm}}</td>
					<td class="label label-warning" ng-click="deleteByName(name)">Delete</td>
				</tr>
			</tbody>
		</table>
	</div>

  </ul>

</body>
</html>
