<h4>Search: <input ng-model="searchText"></h4>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th class="text-right"><div>Value</div></th>
				<th class="text-right"><div>Factory</div></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="option in options | filter: searchText">
				<td >
					{{option.key}}
				</td>
				<td ng-switch on="option.type" class="text-right col-md-offset-4">

					<div ng-switch-when="boolean"
						ng-class="booleanLabel(option.value)"
						ng-click="toggleBoolean($index)">
						{{option.value}}
					</div>
					<div ng-switch-when="number">
						<input ng-model="option.value">
						<button class="btn btn-primary"
								ng-click="updateInt($index)">
								save
						</button>
					</div>
					<div ng-switch-when="string">
						<input ng-model="option.value">
						<button class="btn btn-primary"
								ng-click="updateStr($index)">
								save
						</button>
					</div>
					<div ng-switch-when="dropdown">
						<select ng-model="option.value" 
							ng-options="dropOption for dropOption in option.dropDownValues"></select>
						<button class="btn btn-primary"
								ng-click="updateStr($index)">
								save
						</button>
					</div>

				</td>
				<td class="text-right">
					<button class="btn btn-info"
							ng-click="setDefaultValue($index)">
							Reset
					</button>
				</td>
			</tr>
			<tr>

				<td></td>
				<td></td>
				<td class="text-right">
					<button class="btn btn-info"
							ng-click="setFactory($index)">
							Reset All
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
