<h4>Search: <input ng-model="searchText"></h4>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th><center>#</center></th>
				<th>Name</th>
				<th>Errors:</th>
				<th><center>Delete?</center></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="scene in sceneList | filter: searchText">
				<td class="label label-default">{{$index}}</td>
				<td>{{scene.name|nmSvNm}}</td>
				<td ng-class="{'label-warning':scene.exception}">
					{{scene.exception ? scene.exception : "none"}}
				</td>
				<td ng-class="{'label-danger':true}"
					ng-click="deleteByName(scene.name)">
					Delete
				</td>
			</tr>
		</tbody>
	</table>
</div>
